<div class="flex items-start p-4 mt-4 border rounded">
  <div class="flex-1 pl-4 flex items-start justify-between">
    <div class="leading-normal">
    <%# Sanitizes user input to protect against attacks such as XSS scripting %>
      <p class="text-grey-dark text-xs"><strong><%= task.user.name%></strong> <%= t('.added') %> <%= time_ago_in_words(task.created_at) %> <%= t('.ago') %></p>
      <div class="text-grey-darkest"><%= sanitize task.reply %></div>
    </div>

    <%# allows the author of the task or an admin to delete their task %>
    <% if author_of(task) | admin?%>
      <%= link_to t('.delete'), event_task_path(task.event, task), method: :delete, data: { confirm: t('.sure') }, class: "btn btn-destroy" %>
    <% end %>
  </div>
</div>