<div class="m-auto m-5 flex flex-wrap items-center mb-5" style="color:navy;">
  <div class="flex-1 flex justify-between items-center">
    <%# Shows the names and emails of accounts in the system for the admin to manage %>
    <div><h3 class="text-xl"><%= user.name %> - <%= user.email %></h3></div>
    <p>Joined on <%= readable_time(user.created_at) %></p>

  </div>
  <%= link_to 'Delete User', users_path, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-destroy ml-4" if admin? %>
</div>

<% if user.events.any? %>
  <div class="block pl-2 border-l border-indigo-light mb-5" 
  style="display: block;" >
    <p class="text-xs uppercase tracking-loose text-grey-darker pt-1">Upcoming Events</p>
    <% user.events.each do |event| %>
        <%= link_to event.name, event, class: "link my-2 inline-block" %>
    <% end %>
  </div>
<% end %>