<div class="max-w mx-10 my-10 m-auto text-center">
    <div div class="p-5 bg-white border border-gray rounded">
        <h1 class="font-bold text-2xl"><%= t('.title') %></h1>
        <p><%= t('.part1') %></p>
        <p><%= t('.part2') %></p>
        <br>
        <p><%= t('.part3') %></p>
        <br>
        <p class="underline"><%= t('.title2') %></p>
        <p><%= t('.part4') %></p>
    </div>
</div>