<div class="max-w-lg m-auto px-4">
  <h1 class="text-3xl mt-10 underline" style="font-size: 20px;font-weight: bold;">
    <%= t('.title') %></h1>
  <p class="text-gray-darker mb-6">
    <%= t('.contact_us') %></p>
  <div class="p-10 bg-white border border-grey-light rounded">
    <%= form_tag request_contact_path, method: 'post' do %>
    <div class="mb-6">
      <%= label_tag :name, t('.name'), class:"label" %>
      <%= text_field_tag :name, '', title: t('.enter_name'), class: "input" %>
    </div>  
    <div class="mb-6">
      <%= label_tag :email, t('.email'), class:"label" %>
      <%= email_field_tag :email, '', title: t('.enter_email'), class:"input" %>
    </div>
    <div class="mb-6">
      <%= label_tag :telephone, t('.telephone'), class:"label" %>
      <%= telephone_field_tag :telephone, '', title: t('.enter_telephone'), class:"input" %>
    </div>
    <div class="mb-6">
      <%= label_tag :message, t('.message'), class: "label" %>
      <%= text_field_tag :message, '', title: t('.enter_message'), class:"input" %>
    </div>
      <%= submit_tag t('.submit'), class: "btn btn-primary text-base py-1 px-3" %>
  <% end %>
</div>
</div>