<%# This page contains the main home index of the site, it has a little bit of information about what the site can do etc. %>
<div class="py-3 lg:py-10 px-4 border-b border-grey-light mb-4 text-indigo-darker">
  <div class="container m-auto text-center">

    <div class="max-w-lg mx-auto mt-16 text-center">
      <h1 class="mb-4 text-3xl font-black"><%=Rails.application.class.module_parent.name%></h1>
      <p class="text-lg leading-snug"><%= t('.slogan')%></p>
    </div>

    <% unless user_signed_in? %>
    <%= link_to t('.signup'), new_user_registration_path, class:"btn btn-primary my-4" %>
    <% else %>
    <%= link_to t('.schedule'), new_event_path, class:"btn btn-primary my-4" %>
    <% end %>
  
    <p class="text-lg leading-snug" style= "padding-top: 15px;"><%= t('.info') %></p>
  </div>
</div>


<div class="max-w-lg m-auto">
  <div class="py-10 lg:py-16 px-4 flex flex-wrap items-center justify-between">

    <div class="lg:w-1/2 w-full mb-4 lg:mb-0">
      <h3 class="mb-2 text-xl font-bold"><%= t('.catch1')%></h3>
      <p class="leading-normal"><%= t('.catch12') %></p>
    </div>

    <div class="lg:w-1/2 w-full text-center">
      <%= image_tag 'programming.svg', alt: "Manage schedule", width: 400 %>
    </div>
  </div>

  <div class="py-10 lg:py-16 px-4 flex flex-wrap items-center justify-between">
    <div class="lg:w-1/2 w-full mb-4 lg:mb-0">
      <%= image_tag 'nomad.svg', alt: "Move forward", width: 320 %>
    </div>

    <div class="lg:w-1/2 w-full">
      <h3 class="mb-1 text-xl font-bold"><%= t('.catch2') %></h3>
      <p class="leading-normal"><%= t('.catch22') %></p>
    </div>
  </div>
</div>
