<%# This form is used to create events, descriptions are optional %>
<div class="p-10 bg-white border border-grey-light rounded">
<%= form_with(model: event, class: "event-form") do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% event.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h3 class="mb-4" style="font-size: 20px;font-weight: bold;">Event Information</h3>

  <div class="mb-6">
    <%= form.label :name, class: "label" %>
    <%= form.text_field :name, class: "input" %>
  </div>

  <div class="mb-6">
    <%= form.label :description, class: "label" %>
    <%= form.text_field :description, class: "input" %>
  </div>

  <div class="mb-6">
    <%= form.label :start_time, class: "label" %>
    <div style="display:flex;align-items:center;justify-content:space-between;max-width:28rem;">
      <%= form.datetime_select :start_time, {start_day: Date.today, start_year: 
      Date.today.year, minute_step: 5}, {class: "select py-2 px-2 mr-2"} %>
    </div>
  </div>

  <div class="mb-6">
    <%= form.label :end_time, class: "label" %>
    <div class="flex items-center justify-between max-w-md">
      <%= form.datetime_select :end_time, {start_day: Date.today, start_year: 
      Date.today.year, minute_step: 5}, {class: "select py-2 px-2 mr-2"} %>
    </div>
  </div>

  <hr class="border" />

  <%= form.submit class: "btn btn-primary text-base py-1 px-3" %>
<% end %>
</div>