<!DOCTYPE html>
<html>
  <head>
    <title><%=Rails.application.class.module_parent.name%></title>
    <%# Import tags to include javascript and stylesheets %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_pack_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag  'application', 'data-turbolinks-track': 'reload' %>

  </head>

<%# This page is the main application layout, it loads any flash messages, then it displays the nav bar at the top and then
under the nav bar it will display the current page's contents then a footer with a copyright and my name is displayed at the bottom %>
 <body id="myDIV">
  <% flash.each do |type, message| %>
    <% if type == "alert" %>
      <div style="background-color: #CD5C5C">
        <div class="container px-2 mx-auto py-4 text-black text-center font-medium font-sans"><%= message %></div>
      </div>
    <% end %>
    <% if type == "notice" %>
      <div style="background-color: #7FFFD4">
        <div class="container px-2 mx-auto py-4 text-black text-center font-medium font-sans"><%= message %></div>
      </div>
    <% end %>
  <% end %>
    <%# The following section (header) contains the nav bar for the website that is visible on all pages to
    allow users to navigate the site from anywhere on it %>
    <header class="bg-white">
      <nav class="flex items-center justify-between flex-wrap bg-grey-lightest p-4 text-grey-darker border-b border-grey-light" style="display: flex;">
        
        <div class="flex items-center flex-no-shrink mr-6" >
        <%# For some reason having the link applied to the image and text in the same tag causes the styling to not work correctly
        so they are separated%>
          <%= link_to root_path do %>
            <%= image_tag "ManageMeIcon.svg", alt: "ManageMeIcon", width:32%><%end%>
          <%= link_to root_path, class:"link text-xl tracking-tight font-semibold" do %>
            <%=Rails.application.class.module_parent.name%><% end %>
        </div>

        <%# links to different parts of the site %>
        <div class="w-full block lg:flex-1 lg:flex items-center text-center lg:text-left">
          <div class="w-full block lg:flex lg:flex-row lg:flex-1 mt-2 lg:mt-0 text-center lg:text-left lg:justify-end">
            <% unless user_signed_in? %>
            <%= link_to t('.login'), new_user_session_path, class:"btn btn-default mr-2" %>
            <%= link_to t('.signup'), new_user_registration_path, class:"btn btn-default" %>
            <% else %>
            <%= link_to t('.useracc'), users_path, class: "btn btn-default mr-2" if admin?%>
            <%= link_to t('.active'), active_events_path, class: "btn btn-default mr-2" if admin? %>
            <%= link_to t('.calendar'), events_path, class: "btn btn-default mr-2" %>
            <%= link_to t('.new'), new_event_path, class: "btn btn-default mr-2" unless admin? %>
            <%= link_to t('.contact'), contact_path, class: "btn btn-default mr-2"%>
            <%= link_to t('.about'), about_path, class: "btn btn-default mr-2"%>
            <%= link_to t('.signout'), destroy_user_session_path, method: :delete, class:"btn btn-default mr-2" %>
            <% end %>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <%= content_for?(:content) ? yield(:content) : yield %>
    </main>
    
  </body>
  
  <%# a footer with the sites name (if the name is updated then it will change too as it is based on the rails
  application name) and my name %>
  <br>
  <hr class="border" />
  <footer class="max-w m-auto text-center py-2"><strong>
    &copy<%=Rails.application.class.module_parent.name%></strong> - <%= t('.footername') %>
  </footer>
</html>